<footer class="contact full-wrap">
  <header class="contact-header">
    <span class="contact-icon">
      {% include './svg/contacts.svg' %}
    </span>
    <span class="contact-title">
      Contacts
    </span>
  </header>
  <nav class="contact-list-wrap">
    <ul class="contact-list">
      <li class="contact-item">
        <a href="http://twitter.com/atilafassina">
          {% include './svg/twitter.svg' %}
        </a>
      </li>
      <li class="contact-item">
        <a href="http://github.com/atilafassina">
          {% include './svg/github.svg' %}
        </a>
      </li>
      <li class="contact-item">
        <a href="http://linkedin.com.br/in/atilafassina">
          {% include './svg/linkedin.svg' %}
        </a>
      </li>
      <li class="contact-item">
        <a href="mailto:hey@atilafassina.com">
          {% include './svg/email.svg' %}
        </a>
      </li>
    </ul>
  </nav>
</footer>
  <!-- scripts -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.gaccount }}']);
    _gaq.push(['_setDomainName', '{{ site.domain }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script async src="/assets/js/main.js"></script>
  </body>
</html>
