.home-text {
  font-size: 1.2rem;
  font-weight: bold;

  &:last-child {
    margin-bottom: 3rem;

    @media #{$bp-small} {
      margin-bottom: 0;
    }
  }
}

.lightbulb {
  text-align: center;

  @media #{$bp-small} {
    //margin: 2rem 0;
  }

  &-wrap {
    @extend %icon-wrap;
    @extend %full-to-single;
    background-color: $brandGreen;

    @media #{$bp-medium} {
      margin-bottom: 0;
    }
  }
  svg {
    width: 7em;
    height: 7em;

  }
}

.pin {
  margin-top: 3rem;

  @media #{$bp-small} {
    margin-top: 0;
  }
  &-wrap {
    @extend %icon-wrap;
    padding: .5em 0;
    background-color: $brandGreen;
  }
  svg {
    height: 5rem;
    width: 5rem;
  }
}

%text-block {
  padding: 2.5em 1em .5em;
  text-align: center;

  & ~ .icon {
    padding-top: .5em;
  }
}

.textblock--green {
  @extend %text-block;
  background-color: $brandGreen;
  color: #fff;
}

.textblock--gray {
  @extend %text-block;
  background-color: #888;
  color: #fff;

}

.check {
  text-align: center;

  &-wrap {
    @extend %icon-wrap;
    @extend %full-to-single;
    background-color: #888;

    @media #{$bp-medium} {
      margin-bottom: 0;
    }
  }
  svg {
    height: 10rem;
  }
}
