.skills {
  @extend %full-to-single;
  padding-top: 1rem;
  background-color: #000;
  @include list_section(#000,#fff);

  @media #{$bp-small} {
    padding-top: 3rem;
  }

  &-wrap {
    @media #{$bp-medium} {
      margin-top: 0;
    }
  }

  &-list {
    list-style: disc inside;
    width: 60%;
    @include transition;

    @media #{$bp-small} {
      width: 90%;
      margin: 0 auto;
      padding: .5rem;
      font-size: 1.2rem;
    }

    &-wrap {
      @extend %full-to-double;
      background-color: #000;
      @include transition;
      padding-top: 5em;
    }
  }

  &-item {
    display: block;
    padding-top: 1rem;

    @media #{$bp-small} {
      padding-top: 0;
      font-size: 1rem;
      display: inline-block;
      width: calc(50% - 1.5rem);
      margin-right: 1.5rem;
    }

      &:nth-child(even) {
        margin-right: 0;
      }

      &::before {
        content: "• ";
      }
    }
}

.process {
  @extend %full-to-single;
  padding-top: 1.5rem;
  background-color: $brandGreen;
  @include list_section($brandGreen, #fff);

  &-icon svg {
    height: 10em;
  }

  &-list {
    text-align: center;
    list-style: decimal inside;
    counter-reset: li;
    line-height: 1;

    &-wrap {
      @extend %full-to-double;
      background-color: $brandGreen;
      padding-top: 1rem;
      height: auto;

      @media #{$bp-medium} {
        height: 15rem;
      }
    }
  }

  &-item {
    display: inline-block;
    margin-top: .5rem;
    margin-right: $double-gap;
    width: 100%;
    margin-bottom: 1rem;
    font-weight: bold;

    &:nth-child(even) {
      margin-right: 0;
    }

    @media #{$bp-small} {
      margin-top: 1rem;
      margin-bottom: 0;
      width: calc(33% - #{$double-gap});
    }
  }

  &-label {
    display: block;
    &::before {
      counter-increment: li;
      content: counter(li)'. ';
    }
  }
}

.step-icon svg {
  height: 3rem;

  @media #{$bp-small} {
    height: 3rem;
  }
}
