.contentWrap {
  @include clearfix;
    @media #{$tp-xtra-large} {
    width:72em;
    margin: 0 auto;
  }
}

.postList {
  list-style-type: none;
  margin:0 auto;
  @media #{$bp-medium-old} {
    width: 60%;
  }
  @media #{$tp-medium-1} {
    width: 55%;
  }
}

.homePost {
  padding-top: 2em;

  &-date {
    font-family: Monaco, "Courier New", monospace;
    font-size: .8em;
    display:block;
    text-align:center;
  }

  &-title {
    text-align: center;
    //padding-top: .25em;
    color: $highlight;
    font-size: 2rem;
    text-transform: lowercase;
    font-variant: small-caps;
    @include transition;
    &:hover {
      color:$highlight--dark;
    }
  }
  &-excerpt {
    padding: 1em 2em;
    //font-size: .8em;
    margin: 0 auto;
    display: block;
    text-align: center
  }
}

//===========
// Pagination
//===========

.pagination {
  display:flex;
  justify-content:center;
  align-content:space-around;
}
.previous {
  @extend %paginationLink;
  @include transform(skew(30deg));
  a {
    @include transform(skew(-30deg));
  }
}
.next {
  @extend %paginationLink;
  @include transform(skew(-30deg));
  a {
    @include transform(skew(30deg));
  }

}
.current-page {
  font-weight:bold;
  color:$highlight--dark;
}
