.contentWrap {
  @include clearfix;
    @media #{$tp-xtra-large} {
    width:72em;
    margin: 0 auto;
  }
}

.postList {
  list-style-type: none;
  margin:0 auto;
  @media #{$bp-medium} {
    float: left;
    margin-top: 3em;
    width: 60%;
  }
  @media #{$tp-medium-1} {
    width: 55%;
    margin-left: 2.5%;
  }
}

.homePost {
  padding-top:1em;
  // @media (min-width:55em) {
  //   padding:2em 20%;
  // }

  &-date {
    font-family: Monaco, "Courier New", monospace;
    font-size: .6em;
    display:block;
    text-align:center;
  }

  &-title {
    text-align: center;
    padding-top: .25em;
    color: $highlight;
    font-size:1.5em;
    font-variant: small-caps;
    @include transition;
    &:hover {
      color:$highlight--dark;
    }
  }
  &-excerpt {
    padding:1em 2em;
    font-size:.8em;
    margin:0 auto;
    display:block;
    text-align: center
  }
}

//====================
// Author Description
//===================
// .about {
//   padding-top: .2em;
//   background-color: $brandGreen--dark;
//   img {
//     position: relative;
//     display: block;
//     margin: 0 auto;
//   }
//   p {
//     color: $fontColor--light;
//     font-size: .9em;
//     padding: 1em;
//     text-align: center;
//     text-shadow: 0 2px rgba(0,0,0,.4);
//   }

//   p a {
//     color:$fontColor--light;
//     border-bottom:dashed 1px $highlight;
//   }
//   p a:hover,
//   p a:active {
//     border-bottom-style:solid;
//   }
//   @media #{$bp-medium} {
//     float: right;
//     width: 35%;
//     margin-top: 20%;
//     padding-top: 0;
//     img {
//         top: -10px;
//         margin-top: 0;
//     }
//   }
// }

//===========
// Pagination
//===========

.pagination {
  display:flex;
  justify-content:center;
  align-content:space-around;
}
.previous {
  @extend %paginationLink;
  @include transform(skew(30deg));
  a {
    @include transform(skew(-30deg));
  }
}
.next {
  @extend %paginationLink;
  @include transform(skew(-30deg));
  a {
    @include transform(skew(30deg));
  }

}
.current-page {
  font-weight:bold;
  color:$highlight--dark;
}
