.bottom {
    padding: .2em 0;
    background-color: $bkg--dark;
    color: $fontColor--light;
    overflow:hidden;
    @media #{$bp-medium-old} {
        clear: both;
    }
}
.license {
    float:right;
    font:.8em/1.2 Monaco, "Courier New", monospace;
    padding:.2em .5em;
    &::before {
        content:"Content licenses:"
    }
}
