.top {
  padding-top: 1em;
  //@include clearfix;

  @media #{$tp-xtra-large} {
    width:72em;
    margin: 0 auto;
  }
  clear: both;
}
.titleWrap {
  width: 100%;
  overflow: hidden;
  @media #{$bp-medium} {
    float: left;
    width: 45%;
  }
}
.titleLogo {
  display: block;

  & img {
    display: block;
    height:5em;
    margin: .5em auto;
  }
}

.titleName {
  display: flex;
  //width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 1.25rem;
  padding: 1em 0;
  background-color: #000;

  a {
    color: #fff;
  }

  .subtitle {
    color: #ccc;
    text-transform: lowercase;
  }
}

.social{
  &List {
    display: flex;
    justify-content: space-around;
    padding: 1em;
  }
}

// .mainMenu {
//   text-align: center;
//   a {
//     display: inline-block;
//     margin: .5em 1em;
//     color: $txt;
//     -webkit-transition:all 250ms linear;
//     -moz-transition:all 250ms linear;
//     transition:all 250ms linear;
//     &:hover,
//     &:active {
//       color: $highlight;
//     }
//   }
//   @media #{$bp-medium} {
//     float: right;
//     width: 50%;
//     margin: 1em .5em;
//   }
// }
