.full-wrap {
  @media #{$bp-small} {
    width: 90vw;
    margin: 0 auto;
  }
}

.top {
  //@include clearfix;
  @media #{$bp-small} {
    margin-bottom: .75rem;
  }

  clear: both;
}
.titleWrap {
  width: 100%;
  overflow: hidden;
}
.titleLogo {
  display: block;
  margin-top: 1em;
  @include transition;

  @media #{$bp-small} {
    float: left;
    width: 40%;
    text-align: center;
  }


  & img {
    display: block;
    width: 80%;
    //height: 5em;
    margin: .5em auto;
    @media #{$bp-small} {
      max-height: 10rem;
      max-width: 12rem;
      margin-top: 0;
    }
  }
}

.header-info {
  @media #{$bp-small} {
    float: left;
    width: 60%;
  }
}

.titleName {
  display: flex;
  //width: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  //font-size: 1.75rem;
  font-size: 2rem;
  padding: 1em 0 .5em;
  background-color: #000;
  @include transition;

  @media #{$bp-small} {
    font-size: 2rem;
  }

  a {
    color: #fff;
  }

  .subtitle {
    color: #888;
    text-transform: lowercase;
    font-size: .65em;

    @media #{$bp-small} {
      font-size: .5em;
    }
  }
}

.social{
  &-menu {
    width: 100%;
    background-color: #000;
    clear: both;
  }

  &-list {
    width: 10rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1em;
  }

  &-item {
    a {
      color: #fff;
      font-size: 1.5rem;
      font-weight: bolder;
    }

    svg {
      width: 1.5rem;
    }
  }
}
