$gap: .25rem !global;
$double-gap: .5rem !global;

%icon-wrap {
  padding-top: 3em;
  width: 100%;

  @media #{$bp-small} {
    padding-bottom: 3em;
  }
}

%full-to-single {
  @media #{$bp-small} {
    margin-bottom: $double-gap;
  }

  @media #{$bp-medium} {
    float: left;
    width: calc(33% - #{$gap});
    height: 15rem;
    margin-right: $double-gap;
  }
}

%full-to-double {
  @media #{$bp-small} {
    height: 15rem;
  }
  @media #{$bp-medium} {
    float: left;
    width: 66%;
    margin-left: 0;
  }
}

%list {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

@mixin list_section($bg, $txt) {
  &-wrap {
    padding-top: 0;
    overflow: hidden;
    color: $txt;

    @media #{$bp-small} {
      margin-bottom: $double-gap;
    }
  }

  &-title {
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    padding-top: .25em;
    padding-bottom: 1rem;
    @include transition;

    @media #{$bp-small} {
      font-size: 3rem;
    }
  }

  &-icon {
    @extend %icon-wrap;
    svg {
      display: block;
      height: 5em;
      margin: 0 auto;
    }

    @media #{$bp-medium} {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &-list {
    @extend %list;

  }
}

%menu-link {
  width: 100%;
  padding: 2em 1em;
  display: block;

  @media #{$bp-small} {
    margin-bottom: $double-gap;
  }

  @media #{$bp-medium} {
    float: left;
    width: calc(33% - #{$gap});
    margin-right: $double-gap;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.box {
  @media #{$bp-small} {
    float: left;
    margin-right: $double-gap;
  }
  &:last-child {
    margin-right: 0;
  }

  @media #{$bp-small} {
    width: calc(50% - #{$gap});
    height: 15rem;
  }

  @media #{$bp-medium} {
    width: calc(33% - #{$gap});
  }
}

.group-container {
  @media #{$bp-small} {
    margin-bottom: $double-gap;
    overflow: hidden;
  }
}

.home-link {
  color: #fff;
  border-bottom: solid 1px #fff;
}
