.hello-world {
	background-color: #000;
	color: #fff;
	padding: 2em;
	display: flex;
	justify-content: center;
	align-items: center;

	strong {
		font-size: 6rem;
	}
}

.atila-picture {
  &-wrap {
    max-height: 14em; //hack - whitespace
    overflow: hidden; //hack - whitespace
  }
  width: 100%;
}

%icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: .5em 0;
}

.lightbulb {
  &-wrap {
    @extend %icon-wrap;
    background-color: $brandGreen
  }

  width: 3em;
  height: 5em;
  background-color: #fff;
}

.pin {
  &-wrap {
    @extend %icon-wrap;
    background-color: $brandGreen;
  }

  width: 3em;
  height: 5em;
  background-color: #fff;
}

%text-block {
  display: block;
  padding: .5em 1em;
  text-align: center;
}

.textblock--green {
  @extend %text-block;
  background-color: $brandGreen;
  color: #fff;
}

.textblock--gray {
  @extend %text-block;
  background-color: #888;
  color: #fff;

}

.check {
  &-wrap {
    @extend %icon-wrap;
    background-color: #888;
  }

  width: 3em;
  height: 5em;
  background-color: #fff;
}

%list {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

@mixin list_section($bg, $txt) {
  &-wrap {
    padding-top: 1em;
    background-color: $bg;
    color: $txt;
  }

  &-title {
    font-size: 1.2rem;
    text-align: center;
    padding: .5em 0 1em;
  }

  &-icon {
    @extend %icon-wrap;

    width: 3em;
    height: 5em;
    margin: 0 auto;
    background-color: $txt;
  }

  &-list {
    @extend %list;

  }
}

.skills {
  @include list_section(#000,#fff);
  &-list {
    list-style: disc inside;
  }
}

.process {
  @include list_section($brandGreen, #fff);

  &-list {
    text-align: center;
    list-style: decimal inside;
  }
}

%menu-link {
  width: 100%;
  padding: 2em 1em;
  display: block;
}

.articles-link {
  @extend %menu-link;
  background-color: #000;
  color: #fff;
}

.talks-link {
  @extend %menu-link;
  background-color: #888;
  color: #fff;
}
.projects-link {
  @extend %menu-link;
  background-color: $brandGreen;
  color: #fff;
}
.menu {
  &-icon {
    width:3em;
    height:3em;
    margin: 0 auto;
    display: block;
    background-color:#fff;
  }

  &-label {
    display: block;
    padding-top: .5em;
    font-size: 1.3rem;
    text-align: center;
  }
}

.contact {
  background-color: #888;
  color: #fff;

  &-header {
    padding-top: 1em;
  }

  &-icon {
    width: 5em;
    height: 5em;
    margin: 0 auto;
    display: block;
    background-color: #fff;
  }

  &-title {
    display: block;
    font-size: 1.2rem;
    text-align: center;
    padding: .5em 0 1em;
  }

  &-list {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2em;
  }

  &-item {
    display: inline-block;
    width: 49%;
    text-align: center;
    padding: .5em 0;
  }
}
