.postWrap {
  @media #{$bp-medium-old} {
    width: 80%;
    margin: 0 auto;
  }
  @media #{$bp-large} {
    width: 60%;
  }
}

.fullPost-top {
  margin-top:2em;
}

.fullPost-date {
  text-align:center;
  font:.8em/1 Monaco, "Courier New", monospace;
}
.fullPost-title {
  text-align: center;
  color:$highlight;
  font-size:1.2em;
}
.fullPost-img {
  width: 100%;
}

.fullPost {
  padding: 2em 1em;
  h4, //fallback first posts
  h2 {
    margin:2em 0;
    color:$txt;
  }
  p {
    color:$txt;
    margin:0 auto 1em;
    max-width: 50em;
  }

  blockquote {
    p {
      padding:1em;
      display:block;
      border-left:solid 2px $important;
      border-top-left-radius:.5em;
      border-bottom-left-radius:.5em;
      color:$important;
      font-size:1.3em;
    }
    em {
      font-size:.6em;
    }
  }

  a {
    color:darken($txt, 10%);
    border-bottom:dashed 1px $highlight;
  }

    a:hover,
    a:active {
      border-bottom-style:solid;
    }

  ul {
    list-style:square;
  }
}

.post ul, .post ol {
  margin-left: 1.35em;
}

code {
  padding:.2em;
  color:#000;
  text-transform:lowercase;
  &[data-syntax="none"] {
    color: #DDD;
  }
}
.post pre code {
  color:#DDD;
  border: none;
  background-color:transparent;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}


hr {
  margin:2em auto;
  border:none;
  &::before {
    display:block;
    content:"— × —";
    text-align:center;
    color:#CCC;
  }
}

// disquss
//--------
.disqussWrap {
  width:80%;
  max-width:40em;
  margin:2em auto;
}
