<footer class="contact">
  <header class="contact-header">
    <span class="contact-icon"></span>
    <span class="contact-title">
      My contacts
    </span>
  </header>
  <ul class="contact-list">
    <li class="contact-item">aa</li>
    <li class="contact-item">aa</li>
    <li class="contact-item">aa</li>
    <li class="contact-item">aa</li>
  </ul>
</footer>
  <!-- scripts -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.gaccount }}']);
    _gaq.push(['_setDomainName', '{{ site.domain }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script src="/assets/js/main.js"></script>
  </body>
</html>
