<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/styles/css/main.css">
  </head>
  <body>
    <header class="top">
      <div class="titleWrap">
        <a class="titleLogo" href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}assets/image/logo-color.png" alt="Átila Fassina - Front-end Developer" />
        </a>
        <h1 class="titleName">
          <a href="{{ site.baseurl }}">
            {{ site.author.name }}
          </a>
          <span class="subtitle">
            {{ site.author.title }}
          </span>
        </h1>
        <nav class="socialMenu">
          <ul class="socialList">
            <li class="socialItem">
              <a href="http://twitter.com/{{ site.author.username }}">
                {% include svg/twitter.html %}
              </a>
            </li>
            <li class="socialItem">
              <a href="http://github.com/{{ site.author.username }}">
                {% include svg/github.html %}
              </a>
            </li>
            <li class="socialItem">
              <a href="http://linkedin.com/in/{{ site.author.username }}">
                {% include svg/linkedin.html %}
              </a>
            </li>
            <li class="socialItem">
              <a href="mailto:hey@atilafassina.com">
                @
              </a>
            </li>
          </ul>
        </nav>
      </div>
  </header>
