<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <!-- Syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />

    <!-- Custom CSS -->
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/icon.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
  </head>
  <body>
    <header id="top">
      <section id="titleLogo">
        <a href="{{ site.baseurl }}">
          <img src="{{ site.baseurl }}image/logo-color.png" alt="Átila Fassina - Front-end Developer" />
        </a>
      </section>
      <hgroup id="titleWrap">
        <a href="{{ site.baseurl }}">
          <h1 id="titleName">{{ site.author.name }}</h1>
          <h2 id="titleSub"> {{ site.author.title }}</h2>
        </a>
      </hgroup>
      <ul id="mainSocial">
        <li>
          <a target="_blank" href="http://twitter.com/{{ site.author.username }}" class="icon-twitter"></a>
        </li>
        <li>
          <a target="_blank" href="http://github.com/{{ site.author.username }}" class="icon-github"></a>
        </li>
        <li>
          <a target="_blank" href="http://linkedin.com/in/{{ site.author.username }}" class="icon-linkedin"></a>
        </li>
        <li>
          <a target="_blank" href="https://plus.google.com/116553148762323910210/" class="icon-google-plus-2"></a>
        </li>
        <li>
          <a target="_blank" href="http://facebook.com/{{ site.author.username}}" class="icon-facebook"></a>
        </li>
      </ul>
      <nav id="mainMenu">
        <a href="/works">Works</a>
      </nav>
    </header>