  <header class="top full-wrap">
    <a class="titleLogo" href="{{ site.baseurl }}">
      <img src="/assets/images/logo-color.png" alt="Átila Fassina - Front-end Developer" />
    </a>
    <div class="header-info">
      <h1 class="titleName">
        <a href="{{ site.baseurl }}">
          {{ site.author.name }}
        </a>
        <span class="subtitle">
          {{ site.author.title }}
        </span>
      </h1>
      <nav class="social-menu">
        <ul class="social-list">
          <li class="social-item">
            <a href="http://twitter.com/{{ site.author.username }}">
              {% include './svg/twitter.svg' %}
            </a>
          </li>
          <li class="social-item">
            <a href="http://github.com/{{ site.author.username }}">
              {% include './svg/github.svg' %}
            </a>
          </li>
          <li class="social-item">
            <a href="http://linkedin.com/in/{{ site.author.username }}">
              {% include './svg/linkedin.svg' %}
            </a>
          </li>
          <li class="social-item email">
            <a href="mailto:hey@atilafassina.com">
              @
            </a>
          </li>
        </ul>
      </nav>
    </div>
</header>
