---
layout: default
comments: true
---
<main role="main" class="contentWrap postWrap">
    <header class="fullPost-top">
        <p class="fullPost-date postmetadata">{{ page.date | date_to_string }}</p>
        <h1 class="fullPost-title">{{ page.title }}</h1>
        {% if page.image == undefined %}

        {% else %}
            <img class="fullPost-img" src="{{ page.image }}" />
        {% endif %}
    </header>
    <article class="fullPost">
        {{ content }}
    </article>
</main>
<footer>
{% if page.comments %}
    {% include disquss.html %}
{% endif %}
</footer>
