.mediumWrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.loader {
  display: none;

  &:only-child {
    display: block
  }
}

.loadMore {
  display: block;
  margin: 3em auto;
  border: solid 3px $brandGreen;
  background-color: transparent;
  padding: .5em 5em;
  font-size: 1.5em;
  @include transition;

  &::before {
      content: "load more posts"
  }

  &:hover,
  &:focus {
    background: $brandGreen;
    color: #fff;
    cursor: pointer;
  }

  &[disabled] {
    border-color: $bkg--dark;
    color: $txt;
    background-color: $bkg--light;
    opacity: .25;
    cursor: not-allowed;

    &::before {
      content: "no more posts"
    }
  }
}

.postWrap {
  @media #{$bp-medium-old} {
    width: 80%;
    margin: 0 auto;
  }
  @media #{$bp-large} {
    width: 60%;
  }
}

.fullPost-top {
  margin-top:2em;
}

.fullPost-date {
  text-align:center;
  font: .8em/1 Monaco, "Courier New", monospace;
}
.fullPost-title {
  text-align: center;
  color: $highlight;
  font-size: 2rem;
}
.fullPost-img {
  width: 100%;
}

.fullPost {
  padding: 2em 1em;
  h4, //fallback first posts
  h2 {
    margin:3em 0 .5em;
    color:$txt;
    font-size: 1.5rem;
  }
  p {
    color:$txt;
    margin:0 auto 1em;
    max-width: 50em;
  }

  blockquote {
    margin: 1.5em 2em;

    p {
      padding: .75em;
      display:block;
      border-left:solid 5px darken($bkg, 30%);
      //border-top-left-radius:.5em;
      //border-bottom-left-radius:.5em;
      color: lighten($txt, 30%);
      font-size: 1.5em;
      line-height: 1.5;
      font-weight: bold;
    }
    em {
      font-size:.6em;
    }
  }

  a {
    color:darken($txt, 30%);
    border-bottom:dashed 1px $highlight;
  }

    a:hover,
    a:active {
      border-bottom-style:solid;
    }

  ul {
    list-style:square;
  }
}

.post ul, .post ol {
  margin-left: 1.35em;
}

code {
  padding:.2em;
  color:#000;
  text-transform:lowercase;
  &[data-syntax="none"] {
    color: #DDD;
  }
}
.post pre code {
  color:#DDD;
  border: none;
  background-color:transparent;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}


hr {
  margin:2em auto;
  border:none;
  &::before {
    display:block;
    content:"- x -";
    text-align:center;
    color:#CCC;
  }
}

// disquss
//--------
.disqussWrap {
  width:80%;
  max-width:40em;
  margin:2em auto;
}
