@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Noto sans', sans-serif;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.highlight {
  margin: 1em 0;
  padding: .5em;
  background-color: #444;
  overflow: hidden;
  border-radius: 5px; }

.highlight .hll {
  background-color: #49483e; }

.highlight .c {
  color: #75715e; }

/* Comment */
.highlight .err {
  color: #E60D81; }

/* Error */
.highlight .k {
  color: #66d9ef; }

/* Keyword */
.highlight .l {
  color: #ae81ff; }

/* Literal */
.highlight .n {
  color: #f8f8f2; }

/* Name */
.highlight .o {
  color: #f92672; }

/* Operator */
.highlight .p {
  color: #f8f8f2; }

/* Punctuation */
.highlight .cm {
  color: #75715e; }

/* Comment.Multiline */
.highlight .cp {
  color: #75715e; }

/* Comment.Preproc */
.highlight .c1 {
  color: #75715e; }

/* Comment.Single */
.highlight .cs {
  color: #75715e; }

/* Comment.Special */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .kc {
  color: #66d9ef; }

/* Keyword.Constant */
.highlight .kd {
  color: #66d9ef; }

/* Keyword.Declaration */
.highlight .kn {
  color: #f92672; }

/* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef; }

/* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef; }

/* Keyword.Type */
.highlight .ld {
  color: #e6db74; }

/* Literal.Date */
.highlight .m {
  color: #ae81ff; }

/* Literal.Number */
.highlight .s {
  color: #e6db74; }

/* Literal.String */
.highlight .na {
  color: #a6e22e; }

/* Name.Attribute */
.highlight .nb {
  color: #f8f8f2; }

/* Name.Builtin */
.highlight .nc {
  color: #a6e22e; }

/* Name.Class */
.highlight .no {
  color: #66d9ef; }

/* Name.Constant */
.highlight .nd {
  color: #a6e22e; }

/* Name.Decorator */
.highlight .ni {
  color: #f8f8f2; }

/* Name.Entity */
.highlight .ne {
  color: #a6e22e; }

/* Name.Exception */
.highlight .nf {
  color: #a6e22e; }

/* Name.Function */
.highlight .nl {
  color: #f8f8f2; }

/* Name.Label */
.highlight .nn {
  color: #f8f8f2; }

/* Name.Namespace */
.highlight .nx {
  color: #a6e22e; }

/* Name.Other */
.highlight .py {
  color: #f8f8f2; }

/* Name.Property */
.highlight .nt {
  color: #f92672; }

/* Name.Tag */
.highlight .nv {
  color: #f8f8f2; }

/* Name.Variable */
.highlight .ow {
  color: #f92672; }

/* Operator.Word */
.highlight .w {
  color: #f8f8f2; }

/* Text.Whitespace */
.highlight .mf {
  color: #ae81ff; }

/* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74; }

/* Literal.String.Char */
.highlight .sd {
  color: #e6db74; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74; }

/* Literal.String.Double */
.highlight .se {
  color: #ae81ff; }

/* Literal.String.Escape */
.highlight .sh {
  color: #e6db74; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74; }

/* Literal.String.Other */
.highlight .sr {
  color: #e6db74; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74; }

/* Literal.String.Single */
.highlight .ss {
  color: #e6db74; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff; }

/* Literal.Number.Integer.Long */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"), url(http://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nIX0hVgzZQUfRDuZrPvH3D8.woff2) format("woff2"), url(http://fonts.gstatic.com/s/notosans/v6/LeFlHvsZjXu2c3ZRgBq9nLO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
body {
  font-size: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #323232; }

ul {
  list-style: none; }

a {
  color: #191919;
  text-decoration: none; }

::selection {
  background-color: #ff6400;
  color: #e1e1e1; }

.previous, .next {
  padding: .2em .5em;
  background-color: #191919;
  text-align: center; }
  .previous a, .next a {
    display: inline-block;
    color: #fafafa; }

.top {
  padding-top: 1em;
  clear: both; }
  @media (min-width: 72.8em) {
    .top {
      width: 72em;
      margin: 0 auto; } }

.titleWrap {
  width: 100%;
  overflow: hidden; }
  @media (min-width: 42.5em) {
    .titleWrap {
      float: left;
      width: 45%; } }

.titleLogo {
  display: block; }
  .titleLogo img {
    display: block;
    height: 5em;
    margin: .5em auto; }

.titleName {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-size: 1.25rem;
  padding: 1em 0;
  background-color: #000; }
  .titleName a {
    color: #fff; }
  .titleName .subtitle {
    color: #ccc;
    text-transform: lowercase; }

.socialList {
  display: flex;
  justify-content: space-around;
  padding: 1em; }

.helloWorld {
  background-color: #000;
  color: #fff;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center; }
  .helloWorld strong {
    font-size: 6rem; }

.atila-picture {
  width: 100%; }
  .atila-picture-wrap {
    max-height: 15em;
    overflow: hidden; }

.lightbulb-wrap, .pin-wrap, .check-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2em 0; }

.lightbulb {
  width: 3em;
  height: 5em;
  background-color: #fff; }
  .lightbulb-wrap {
    background-color: #009632; }

.pin {
  width: 3em;
  height: 5em;
  background-color: #fff; }
  .pin-wrap {
    background-color: #009632; }

.textblock--green, .textblock--gray {
  display: block;
  padding: 2em .5em;
  text-align: center;
  line-height: 2; }

.textblock--green {
  background-color: #009632;
  color: #fff; }

.textblock--gray {
  background-color: #bbb;
  color: #fff; }

.check {
  width: 3em;
  height: 5em;
  background-color: #fff; }
  .check-wrap {
    background-color: #bbb; }

.bottom {
  padding: .2em 0;
  background-color: #191919;
  color: #fafafa;
  overflow: hidden; }
  @media (min-width: 42.5em) {
    .bottom {
      clear: both; } }

.license {
  float: right;
  font: .8em/1.2 Monaco, "Courier New", monospace;
  padding: .2em .5em; }
  .license::before {
    content: "Content licenses:"; }

.contentWrap::after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }
@media (min-width: 72.8em) {
  .contentWrap {
    width: 72em;
    margin: 0 auto; } }

.postList {
  list-style-type: none;
  margin: 0 auto; }
  @media (min-width: 42.5em) {
    .postList {
      float: left;
      margin-top: 3em;
      width: 60%; } }
  @media (min-width: 50.5em) {
    .postList {
      width: 55%;
      margin-left: 2.5%; } }

.homePost {
  padding-top: 1em; }
  .homePost-date {
    font-family: Monaco, "Courier New", monospace;
    font-size: .6em;
    display: block;
    text-align: center; }
  .homePost-title {
    text-align: center;
    padding-top: .25em;
    color: #ff6400;
    font-size: 1.5em;
    font-variant: small-caps;
    -ms-transition: all 250ms linear 0;
    -moz-transition: all 250ms linear 0;
    transition: all 250ms linear 0; }
    .homePost-title:hover {
      color: #cc5000; }
  .homePost-excerpt {
    padding: 1em 2em;
    font-size: .8em;
    margin: 0 auto;
    display: block;
    text-align: center; }

.pagination {
  display: flex;
  justify-content: center;
  align-content: space-around; }

.previous {
  -ms-transform: skew(30deg);
  -webkit-transform: skew(30deg);
  -moz-transform: skew(30deg);
  transform: skew(30deg); }
  .previous a {
    -ms-transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    transform: skew(-30deg); }

.next {
  -ms-transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  -moz-transform: skew(-30deg);
  transform: skew(-30deg); }
  .next a {
    -ms-transform: skew(30deg);
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    transform: skew(30deg); }

.current-page {
  font-weight: bold;
  color: #cc5000; }

@media (min-width: 42.5em) {
  .postWrap {
    width: 80%;
    margin: 0 auto; } }
@media (min-width: 55em) {
  .postWrap {
    width: 60%; } }

.fullPost-top {
  margin-top: 2em; }

.fullPost-date {
  text-align: center;
  font: .8em/1 Monaco, "Courier New", monospace; }

.fullPost-title {
  text-align: center;
  color: #ff6400;
  font-size: 1.2em; }

.fullPost-img {
  width: 100%; }

.fullPost {
  padding: 2em 1em; }
  .fullPost h4,
  .fullPost h2 {
    margin: 2em 0;
    color: #323232; }
  .fullPost p {
    color: #323232;
    margin: 0 auto 1em;
    max-width: 50em; }
  .fullPost blockquote p {
    padding: 1em;
    display: block;
    border-left: solid 2px #009632;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
    color: #009632;
    font-size: 1.3em; }
  .fullPost blockquote em {
    font-size: .6em; }
  .fullPost a {
    color: #191919;
    border-bottom: dashed 1px #ff6400; }
  .fullPost a:hover,
  .fullPost a:active {
    border-bottom-style: solid; }
  .fullPost ul {
    list-style: square; }

.post ul, .post ol {
  margin-left: 1.35em; }

code {
  padding: .2em;
  color: #000;
  text-transform: lowercase; }
  code[data-syntax="none"] {
    color: #DDD; }

.post pre code {
  color: #DDD;
  border: none;
  background-color: transparent; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

hr {
  margin: 2em auto;
  border: none; }
  hr::before {
    display: block;
    content: "— × —";
    text-align: center;
    color: #CCC; }

.disqussWrap {
  width: 80%;
  max-width: 40em;
  margin: 2em auto; }

/*# sourceMappingURL=main.css.map */
